<div class="nav">
        <div class="logo">
            <img src="https://play-lh.googleusercontent.com/kqP4B9UIuXclTrIEoVdvNqhybdVhgUzcZM0-A49DQ7cFKajUQVc5kCMedqgEXlwun0RO=w240-h480-rw"
                alt="image">
            <span>Service Name</span>
        </div>
        <div class="navbuttons">
            <a id="toggle" class="atags" role="button" href="">Dark</a>
            <a id="btn1" class="atags" href="get.html">Contact</a>
            <a style="color: rgb(19, 91, 236);" id="btn2" class="atags" href="servicename.html">Home</a>
            <a id="btn3" class="atags" href="pricing.html">Pricing</a>
            <a class="loginbtn" href="Signup.html">Login</a>
        </div>
    </div>
